{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="popup-overlay">
    <div class="create-ticket-popup">
        <h1>Create Ticket</h1>

        <form method="POST" class="create-ticket-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="submit-btn">Submit</button>
                <a href="{% url 'expenses' %}" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}