{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundFlow Sign In</title>
</head>

<main class="signin-wrapper">
    <div class="signin-container">
        <!-- Left Side - Graphic Placeholder -->
        <div class="graphic-container">
            <img src="static/images/fundflow_graphic.jpg" alt="Logo">
        </div>

        <!-- Right Side - Sign In Form -->
        <div class="signin-form-container">
            <div class="signin-form">
                <h1>Sign In</h1>
                <p>Sign in with your UTRGV credentials</p>
                <form>
                    <div class="input-group">
                        <label for="email">EMAIL</label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" placeholder="Password">
                        <p class="forgot-password"><a href="#">Forgot password?</a></p>
                    </div>
                    <button type="submit" class="signin-btn">Sign In</button>
                    <p class="register-link">Don't have an account? <a href="{% url 'signUp' %}">Sign Up Here!</a></p>
                </form>
            </div>
        </div>
    </div> 
</main>

{% endblock %}