<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniCents</title>
    <link rel="stylesheet" href="stylesl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">UniCents</div>


    </header>

    <header class="header">
    <div class="bars"><i class="fa-solid fa-bars"></i></div>
    
    <nav>
        <ul>
            <li><a href="#" >Dashboard</a></li>
            <li><a href="#">Budgeting</a></li>
            <li><a href="#">Voting</a></li>
            <li><a href="#">Marketplace</a></li>
        </ul>
    </nav>
    <div class="profile-icon">
        <i class="fas fa-user-circle"></i>
    </div>
    </header>
    
    <div class="container">
        <aside>
            <ul>
                <li><i class="fas fa-users"></i></li>
                <li><i class="fas fa-envelope"></i></li>
                <li><i class="fas fa-coins"></i></li>
            </ul>
        </aside>
        <main>
            <!-- Content goes here -->
             
        </main>
    </div>
</body>
</html>
