{% extends 'base.html' %}

{% block content %}


<div class = "manage-org-title"> Manage {{thisOrg}} Marketplace</div>


<div class = "manage-org-contents">

    <div class = "manage-item-info-container">

        <div class = "email-container"> 
            Current Email: {{thisOrg.bank_email}}
            <div class="add-change-container"> 
                Add or change Paypay Business Email:
            </div>

            <form method="POST" class="addEmail-form">
                {% csrf_token %}
                <input type="hidden" name="addEmail" value="email">
                <input type="email-text" id="text-label" name="addE" placeholder="Add Email">
                <button class="explore" name="addEmailBtn">Add/change</button>
            </form>
        </div>
        
        <a id="create-item-btn" href="{% url 'createitem' %}">
            <button class="create-item-btn-text" > + Create New Item </button>
        </a> 

        <div class ="manage-item-filter-container"> 

            <div class ="manage-filter-subtitle"> Keywords </div>

            <form method="get" class="filter-form">
                <div class="tag-container">
                    {% for tag in alltags %}
                    <div class="tag-box">
                        <label class="custom-checkbox">
                            <input type="checkbox" name="tags" value="{{ tag.id }}"
                                {% if tag.id in selected_tag_ids %}checked{% endif %}>
                            {{ tag.name }}
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            
                <div class="price-slider-container">
                    <label class="price-slider-label">Price Range</label>
                    <div class="price-inputs">
                        <div class="price-input-group">
                            <span>$</span>
                            <input type="number" name="min_price" id="min-input" value="{{ request.GET.min_price|default:0 }}">
                        </div>
                        <div class="price-input-group">
                            <span>$</span>
                            <input type="number" name="max_price" id="max-input" value="{{ request.GET.max_price|default:300 }}">
                        </div>
                    </div>
                </div>
            
                <div class="sort-options">
                    <div class="sort-label">Sort by:</div>
                
                    <label class="radio-option">
                        <input type="radio" name="sort" value="" {% if not request.GET.sort %}checked{% endif %}>
                        <span class="radio-circle"></span>
                        <span class="radio-label">None</span>
                    </label>
                
                    <label class="radio-option">
                        <input type="radio" name="sort" value="price_asc" {% if request.GET.sort == 'price_asc' %}checked{% endif %}>
                        <span class="radio-circle"></span>
                        <span class="radio-label">Price: low to high</span>
                    </label>
                
                    <label class="radio-option">
                        <input type="radio" name="sort" value="price_desc" {% if request.GET.sort == 'price_desc' %}checked{% endif %}>
                        <span class="radio-circle"></span>
                        <span class="radio-label">Price: high to low</span>
                    </label>
                </div>
                
                                    
                <button type="submit" class="filter-item-btn-text">Filter</button>
            </form>
            
            <div style="margin-top: 10px;">
                <a href="{% url 'manageMarketplace' %}">
                    <button type="button" class="clear-filter-item-btn-text" >Clear Filters</button>
                </a>
            </div>
            
        </div>
    </div>



    <div class="item-cards-container">
        
        <form class="search-items" method="get" action="">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">
                <i class="fa fa-search" style="font-size:20px"></i>
            </button>
        </form>
        
        <div class="item-grid">
            {%if items%}
                {% for item in items %}
                <div class="item-card">
                    <div class="item-image">
                        {% if item.image %}
                            <a href="#" class="image-link" data-image="{{ item.image.url }}">
                                <img src="{{ item.image.url }}" alt="{{ item.item_name }}">
                            </a>
                        {% else %}
                            <div class="image-placeholder"> ------------ No image ------------</div>
                        {% endif %}
                    </div>
        
                    <div class="item-name-row">
                        <div class="item-name-text">{{ item.item_name }}</div>
                        <div class="remove-item">
                            <a href="{% url 'delete_item' item.id %}">
                                <i class="fa">&#xf014;</i>
                            </a>
                        </div>
                    </div>
        
                    <div class="item-details-row">
                        <div class="item-price">${{ item.price }}</div>
                        <div class="item-quantity">{{ item.quantity }} left</div>
                    </div>
        
                    <div class="item-tags">
                        Tags: 
                        {% for tag in item.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No tags
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            {% elif search_query %}
                <div class = "no-items"> No results, try a different search. </div>
            {%else%}
                <div class = "no-items"> You currently have no items on marketplace. Use the Create Item to list your items</div>
            {%endif%}
        </div>
    </div>

</div>


<script>

    const minRange = document.getElementById('min-range');
    const maxRange = document.getElementById('max-range');
    const minInput = document.getElementById('min-input');
    const maxInput = document.getElementById('max-input');
    const minGap = 500;
    
    function updateSlider() {
        const min = parseInt(minRange.value);
        const max = parseInt(maxRange.value);
        if (max - min <= minGap) {
        if (event.target === minRange) {
            minRange.value = max - minGap;
        } else {
            maxRange.value = min + minGap;
        }
        }
        minInput.value = minRange.value;
        maxInput.value = maxRange.value;
    }
    
    function updateInput() {
        let min = parseInt(minInput.value);
        let max = parseInt(maxInput.value);
        if (max - min >= minGap && min >= parseInt(minRange.min) && max <= parseInt(maxRange.max)) {
        minRange.value = min;
        maxRange.value = max;
        }
    }
    
    minRange.addEventListener('input', updateSlider);
    maxRange.addEventListener('input', updateSlider);
    minInput.addEventListener('change', updateInput);
    maxInput.addEventListener('change', updateInput);
</script>

{%endblock%}

