{% extends 'base.html' %}

{% block content %}


<div class = "manage-org-title"> Manage {{thisOrg}} Marketplace</div>

<div class = "manage-org-contents">

    <div class = "manage-item-info-container">
        <a id="create-item-btn" href="{% url 'createitem' %}">
            <button class="create-item-btn-text" > + Create New Item </button>
        </a> 

        <div class = search-items> 
            <input type="search-items" placeholder="Search..">
        </div>

        <div class ="manage-item-filter-container"> 

            <div class ="manage-filter-subtitle"> Keywords </div>

            <form method="get">
                <div class="tag-container">
                    {% for tag in alltags %}
                    <div class="tag-box">
                        <label class="custom-checkbox">
                            <input type="checkbox" name="tags" value="{{ tag.id }}"
                                {% if tag.id in selected_tag_ids %}checked{% endif %}>
                            {{ tag.name }}
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            
                <div class="price-slider-container">
                    <label class="price-slider-label">Price Range</label>
                    <div class="price-inputs">
                        <div class="input-group">
                            <span>$</span>
                            <input type="number" name="min_price" id="min-input" value="{{ request.GET.min_price|default:0 }}">
                        </div>
                        <div class="input-group">
                            <span>$</span>
                            <input type="number" name="max_price" id="max-input" value="{{ request.GET.max_price|default:300 }}">
                        </div>
                    </div>
                </div>
            
                <button type="submit" class="filter-item-btn-text">Filter</button>
            </form>
            
            <div style="margin-top: 10px;">
                <a href="{% url 'manageMarketplace' %}">
                    <button type="button" class="clear-filter-item-btn-text" >Clear Filters</button>
                </a>
            </div>
            
        </div>


        {% comment %} Sort by {% endcomment %}

    </div>



    <div class="item-cards-container"> 
        <div class="item-grid">
            {% for item in items %}
            <div class="item-card">
                <div class="item-image">
                    {% if item.image %}
                        <a href="#" class="image-link" data-image="{{ item.image.url }}">
                            <img src="{{ item.image.url }}" alt="{{ item.item_name }}">
                        </a>
                    {% else %}
                        <div class="image-placeholder"> ------------ No image ------------</div>
                    {% endif %}
                </div>
    
                <div class="item-name-row">
                    <div class="item-name-text">{{ item.item_name }}</div>
                    <div class="remove-item">
                        <a href="{% url 'delete_item' item.id %}">❌</a>
                    </div>
                </div>
    
                <div class="item-details-row">
                    <div class="item-price">${{ item.price }}</div>
                    <div class="item-quantity">{{ item.quantity }} left</div>
                    <div class="edit-item">✏️</div>
                </div>
    
                <div class="item-tags">
                    Tags: 
                    {% for tag in item.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No tags
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


<script>

    const minRange = document.getElementById('min-range');
    const maxRange = document.getElementById('max-range');
    const minInput = document.getElementById('min-input');
    const maxInput = document.getElementById('max-input');
    const minGap = 500;
    
    function updateSlider() {
        const min = parseInt(minRange.value);
        const max = parseInt(maxRange.value);
        if (max - min <= minGap) {
        if (event.target === minRange) {
            minRange.value = max - minGap;
        } else {
            maxRange.value = min + minGap;
        }
        }
        minInput.value = minRange.value;
        maxInput.value = maxRange.value;
    }
    
    function updateInput() {
        let min = parseInt(minInput.value);
        let max = parseInt(maxInput.value);
        if (max - min >= minGap && min >= parseInt(minRange.min) && max <= parseInt(maxRange.max)) {
        minRange.value = min;
        maxRange.value = max;
        }
    }
    
    minRange.addEventListener('input', updateSlider);
    maxRange.addEventListener('input', updateSlider);
    minInput.addEventListener('change', updateInput);
    maxInput.addEventListener('change', updateInput);
    

    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById('itemModal');
        var container = document.getElementById('itemContainer');
        var span = document.getElementsByClassName('close')[0];
        var itemLinks = document.getElementsByClassName('image-link');
        
        // When the user clicks on a item link, open the modal
        for (var i = 0; i < itemLinks.length; i++) {
            itemLinks[i].addEventListener('click', function(event) {
                event.preventDefault();
                var itemUrl = this.getAttribute('data-image');
                
                // Check file type to determine how to display it
                if (itemUrl.toLowerCase().endsWith('.pdf')) {
                    container.innerHTML = '<iframe src="' + itemtUrl + '" width="100%" height="500px"></iframe>';
                } else {
                    container.innerHTML = '<img src="' + itemUrl + '" style="max-width:100%; max-height:80vh;">';
                }
                
                modal.style.display = 'block';
            });
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = 'none';
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    });
</script>

{%endblock%}

